<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Scrapping</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/rtlike.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  {% include 'nav.html' %}

  {% block content %}
  {% endblock %}
      
      
      <!-- Menu Icon -->
      <div class="menuIcon">
        <span class="icon icon-bars"></span>
        <span class="icon icon-bars overlay"></span>
      </div>
      
      
      <div class="overlay-menu">
        <ul id="menu">
            <li><a href="#home">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
      </div>
    <div class="container">
        <h1 class="header text-center display-4">Twitter Scrapping présidentielles 2022</h1>
    </div>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Sentiment</h1>
            <p class="lead d-none d-md-block">Ici nous analysons si le tweet est : positif, négatif ou neutre à l'encontre d'un hashtag</p>
            
            
            <p></p>


            
        </div>
    </div>
    
</body>
</html>