<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Scrapping</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/rtlike.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/sentiment.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  {% include 'nav.html' %}

  {% block content %}
  {% endblock %}
      
      
      <!-- Menu Icon -->
      <div class="menuIcon">
        <span class="icon icon-bars"></span>
        <span class="icon icon-bars overlay"></span>
      </div>
      
      
    <div class="container">
        <h1 class="header text-center display-4">Twitter Scrapping présidentielles 2022</h1>
    </div>
    <br>

    <div class="container">
        <div class="jumbotron">
            <h1 class="header col-md-4 col-lg-offset-4">Hashtags</h1>
            <br>
            <br>
            <p class="header col-md-4 col-lg-offset-4">Vous pouvez cherchers un hashtag sur twiter, ce qui vous resortira les principaux tweet...</p>
            
            
            <p></p>


            <span class="input-group-text header col-md-4 col-lg-offset-4" id="">Mot clé :</span>
            <div class="input-group">
              <form method="post" action="/hashtags">
                <input type="text" class="form-control header col-md-4 col-lg-offset-4" name="key_word">
                <input type="number" class="form-control header col-md-4 col-lg-offset-4" name="nbTweet">
                <button type="submit" name="submit_button" id="" value="Submit" class="form-control header col-md-4 col-lg-offset-4">Submit</button>
              </form>
            </div>

            
        </div>
    </div>
    
</body>
</html>