<!doctype html>
<html>
    <body>
        {% block navbar %}
        <nav id="navbar" class="">
            <div class="nav-wrapper">
              <!-- Navbar Logo -->
          
              <!-- Navbar Links -->
              <ul id="menu">
                <li><a href="/" class="nav-item">Acceuil</a></li><!--
             --><li><a href="/rtlike" class="nav-item">Retweets</a></li><!--
             --><li><a href="/hashtags" class="nav-item">Hashtags</a></li><!--
             --><li><a href="/sentiments" class="nav-item">Sentiments</a></li>
              </ul>
            </div>
          </nav>
          <br>
          <br>
          <br>
          <br>
        {% endblock %}

      
    </body>
</html>
