<!doctype html>
<html>
    <body>
        {% block navbar %}
        <nav id="navbar" class="">
            <div class="nav-wrapper">
              <!-- Navbar Logo -->
              <div class="logo">
                <!-- Logo Placeholder for Inlustration -->
                <a href="#home"><i class="fa fa-angellist"></i> Logo</a>
              </div>
          
              <!-- Navbar Links -->
              <ul id="menu">
                <li><a href="/" class="nav-item">Acceuil</a></li><!--
             --><li><a href="/rtlike" class="nav-item">Retweets</a></li><!--
             --><li><a href="/hashtags" class="nav-item">Hashtags</a></li><!--
             --><li><a href="/sentiments" class="nav-item">Sentiments</a></li>
              </ul>
            </div>
          </nav> 
        {% endblock %}

      
    </body>
</html>
