<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Scrapping</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/rtlike.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  {% include 'nav.html' %}

  {% block content %}
  {% endblock %}
      
      
      <!-- Menu Icon -->
      <div class="menuIcon">
        <span class="icon icon-bars"></span>
        <span class="icon icon-bars overlay"></span>
      </div>
      
      
      
    <div class="container">
        <h1 class="header col-md-4 col-lg-offset-4">Twitter Scrapping présidentielles 2022</h1>
        <br>
        <h1 class="header col-md-4 col-lg-offset-4">Retweet et Likes des différents candidats</h1>
        <br>
        <br>
        <br>
    </div>

    <div class="container">
        <div class="jumbotron">
            <p class="header col-md-4 col-lg-offset-4">Nous avons collecté les retweet et likes des 100 derniers tweets des principaux candidats aux présidentiels.
              Par souci technique, ce graphique n'est généré/actualisé qu'au lancement de l'application.
              <br>
              Nous avons utilisé les pseudo twitter suivants:
              <br>
              'EmmanuelMacron','MLP_officiel','vpecresse','ZemmourEric',
              'JLMelenchon','yjadot','ChTaubira','Anne_Hidalgo','Fabien_Roussel',
              'dupontaignan','f_philippot','jeanlassalle','PhilippePoutou',
              'UPR_Asselineau','n_arthaud','HeleneThouy'
              <br>
              Cette analyse permet de prendre connaissance de l'activité de la communauté de followers que possède le candidat. Biensur l'activité,
              le nombre de followers et de likes ne représentent pas réellement le votant pour le candidats aux élections  
              On remarque notament que Florian Philippot possède de nombreux like notament à l'aide du soutient des mouvement gilets jaunes mais aussi anti-vax et pass sanitaire,
              et informations conspirationnistes. Et nous retrouvons des candidats avec de très faibles résultats en par rapport aux sondages comme Valérie Péceresse. 
          



            </p>

        </div>

        <br>
        <br>
        <br>
        <div >
          <img src="/static/rt_like.jpg" class="img-div" alt="">
          
        </div>
    </div>
    
</body>


</html>