<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Scrapping</title>
</head>
<body>

    <div class="container">
        <h1 class="header text-center display-4">Twitter Scrapping présidentielles 2022</h1>
    </div>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Retweet et Likes</h1>
            <p class="lead d-none d-md-block">Nous avons collecté les retweet et likes </p>
            <hr class="my-4">
            <p>L'application dispose de plusieurs fonctionnalités, telles que l'analyse des likes et des retweet des candidats, l'analyse de sentiments, ou la recherche de twee d'hashtag. Nous vous propons de les découvrirs ci-dessous.</p>
            <a class="btn btn-primary btn-lg redbutton" href="#" role="button">Retweets et likes</a>
            <a class="btn btn-light btn-lg redbutton" href="#" role="button">Hashtags</a>
            <a class="btn btn-danger btn-lg redbutton" href="#" role="button">Sentiments</a>
            
        </div>
    </div>
    
</body>
</html>