<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Scrapping</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/sentiment.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/rtlike.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  {% include 'nav.html' %}

  {% block content %}
  {% endblock %}
      
      
      <!-- Menu Icon -->
      <div class="menuIcon">
        <span class="icon icon-bars"></span>
        <span class="icon icon-bars overlay"></span>
      </div>
      
      
    <div class="container">
        <h1 class="header text-center display-4">Twitter Scrapping présidentielles 2022</h1>
        <br>
    </div>

    <div class="container">
        <div class="jumbotron">
            <h1 class="header col-md-4 col-lg-offset-4">Sentiment</h1>
            <br>
            <p class="header col-md-4 col-lg-offset-4">Ici nous analysons si le tweet est : positif, négatif ou neutre selon un hashtag et le nombre de tweets voulu. L'analyse donne un pie chart de la répartion des tweets et un nuage de 
              mots qui sont les plus représentés dans les tweets. Voici les principaux Hashtags des présidentielles pour facilité les recherches : #présidentielle2022, #Macron2022, #MelenchonPresident, #Zemmour. La limite de tweets que l'on peut scraper est de 2500.
              
            
            
            
            </p>
            <span class="input-group-text header col-md-4 col-lg-offset-4" id="">Mot clé et nombre de tweets</span>
            <div class="input-group">
              <form method="post" action="/sentiments">
                <input type="text" class="form-control header col-md-4 col-lg-offset-4" name="key_word">
                <input type="number" class="form-control header col-md-4 col-lg-offset-4" name="nbTweet">
                <button type="submit" name="submit_button" id="" value="Submit" class="form-control header col-md-4 col-lg-offset-4">Submit</button>
              </form>
            </div>
            
            <div >
              <img src="/static/barplot.jpg" alt="">
              <img src="/static/piechart.jpg" alt="">
              <img src="/static/wc.png" alt="">
              
            </div>
            
        </div>
    </div>
    
</body>
</html>